<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%
course_mode_class = course_mode if course_mode else ''
%>
<link href="/static/my-theme/css/lms-certificate.css" rel="stylesheet"/>

<main id="printArea_K" class="accomplishment accomplishment-main" style="display: block;">
    <div>
        <div class="paper">
            <div class="ribbon">
                <img src="/static/my-theme/images/certificate/emblem.png">
            </div>
            <div class="content">
                <div class="square">
                    <span class="top-left"></span>
                    <span class="top-right"></span>
                    <span class="bottom-left"></span>
                    <span class="bottom-right"></span>
                </div>
                <h1 class="k_h1">이수증</h1>
                <h3 class="k_h3">${accomplishment_copy_course_org} ${course_number} Certificate</h3>
                <h5 class="ce-t-gray">성명</h5>
                <h4 class="ce-txt-second">
                    <p class="k_name_text">${accomplishment_copy_name}</p>
                </h4>
                <h5 class="ce-t-gray">강좌명</h5>
                <h4 class="ce-txt-second">${accomplishment_copy_course_name}</h4>
                <h5 class="ce-t-gray">강좌 제공 기관</h5>
                <h4 class="ce-txt-second">${accomplishment_copy_course_org}</h4>
                <h2 class="ce-center-txt1">위 과정을 성실히 이수하여<br>이 증서를 수여합니다.</h2>
                <h5 class="ce-center-txt2">${certificate_date_issued}</h5>
                <div class="sign-none" style="display:none;">사인이 없을때</div>
                <div class="sign-area">
                    <div class="sign-area-depth2">
                        <div class="sign-area-depth0">

                            % if certificate_data:
                            % for signatory in certificate_data.get('signatories', []):
                            <div class="t-center">
                                <img class="t-sign" src="${static.url(signatory['signature_image_path'])}" alt="${signatory['name']}">
                                <h5>${signatory['name']} ${signatory['title']}</h5>
                                <h5>${signatory['organization']}</h5>
                            </div>
                            % endfor
                            % endif

                        </div>
                    </div>
                    <div class="ce-logo-area">
                        <img class="ce-logo1" src="/static/my-theme/images/logo.png" alt="${platform_name}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>