@font-face {
    font-family: 'Noto Sans'; /* Bold */
    /* src: url('/font/NotoSans-Bold.eot'); */
    src: local(※),
        /* url('/font/NotoSans-Bold.eot#iefix') format('embedded-opentype'), */ url('../fonts/NotoSans-Bold.woff') format('woff'),
    url('../fonts/NotoSans-Bold.woff2') format('woff2'),
    url('../fonts/NotoSans-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans'; /* Medium */
    /* src: url('/font/NotoSans-Medium.eot'); */
    src: local(※),
        /* url('/font/NotoSans-Medium.eot#iefix') format('embedded-opentype'), */ url('../fonts/NotoSans-Medium.woff') format('woff'),
    url('../fonts/NotoSans-Medium.woff2') format('woff2'),
    url('../fonts/NotoSans-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans'; /* Regular */
    /* src: url('/font/NotoSans-Regular.eot'); */
    src: local(※),
        /* url('/font/NotoSans-Regular.eot#iefix') format('embedded-opentype'), */ url('../fonts/NotoSans-Regular.woff') format('woff'),
    url('../fonts/NotoSans-Regular.woff2') format('woff2'),
    url('../fonts/NotoSans-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}


html, body {
    font-family: 'Noto Sans' !important;
    font-size: 1em;
    font-style: normal;
    line-height: 1em;
}


.notice_list {
    background-color: white;
    min-height: 20px;
    font-family: 'Noto Sans' !important;
}

.notice_list_inner {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

.notice_list li {
    padding: 20px 60px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Noto Sans' !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;

}

.notice_list li a {
}


.bx-wrapper {
    margin-bottom: 0px !important;
    box-shadow: 0 0 !important;
}

.page-header > h2 {
    background-color: #e7e7e7;
    border-radius: 5px;
    font-family: 'Noto Sans' !important;
    font-weight: 500;
    padding: 5px 20px;
    color: #0072c6;
}


.courses-container .courses .course .course-info h2, .courses-container .courses .course .course-info .home > header .title > .heading-group p, .home > header .title > .heading-group .courses-container .courses .course .course-info p, .courses-container .courses .course .course-info section.outside-app h1, section.outside-app .courses-container .courses .course .course-info h1 {

    font-family: 'Noto Sans' !important;
}


.section_list {
    background-color: white;
    width: 100%;
    display: flow-root;
    display: inline-block;
}

.section_list_inner {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.section_list_inner img {
    max-height: 50px;
}

.section_list_inner > div {
    float: left;
    width: calc(100% / 6 - 4px);
    text-align: center;
    line-height: 80px;

    /* gradient shining border */
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(to right, white 0%, lightgray 50%, white 100%) 7;
}

.section_list_inner > div:hover {
    background-color: #eee;
}

/*
.section_list_inner a {
    color: blue;
}

.section_list_inner a:hover {
    color: green;
}
*/

.page-header img {
    max-height: 21px;
    vertical-align: bottom;
}

.section_image {
    width: calc(40% - 10px);
    padding: 0 5px;
    text-align: right;
    float: left;
}

.section_text {
    width: calc(60% - 10px);
    padding: 0 5px;
    text-align: left;
    float: right;
}

/*
@media (max-width: 1200px) {
    .section_list_inner > div {
        width: calc(100% / 6 - 4px);
        line-height: 80px;
    }
}
*/

@media (max-width: 1210px) {
    .section_list_inner > div {
        width: calc(100% / 3 - 4px);
        line-height: 60px;
    }
}

@media (max-width: 768px) {
    .section_list_inner > div {
        width: calc(100% / 2 - 4px);
    }
}

@media (max-width: 480px) {
    .section_list_inner > div {
        width: calc(100% / 1);
        line-height: 30px;
    }
}

/* 20191122 redukyo */

.home {
    background-color: #fff;
}

a, a:visited {
    color: #0072c6;
    font: inherit;
    text-decoration: none;
    transition: all 0.1s linear 0s;
}

a:hover, a:focus {
    color: #003655 !important;
}

.highlighted-courses .courses, .find-courses .courses {
    padding: 10px 0 15px;
}

.org_body, .courses-container {
    font-family: 'Noto Sans' !important;
}

.org_logo {

}

.org_body {
    background-color: white;
    padding: 20px 0;
}

.org_body > .content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.home .highlighted-courses {
    margin-bottom: 0px;
}

.bx-wrapper .bx-controls-direction a {
    margin-top: -18px !important;
}