<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="home">
        <header>
            <img src="https://raw.githubusercontent.com/JhPlayGround/mppbuild/master/mppdeu_A.png" style="width: 100%; height: auto;">
            <!-- springgy title
            <div class="outer-wrapper" style="display: none;">
              <div class="title">
                <div class="heading-group">
                  % if homepage_overlay_html:
                    ${homepage_overlay_html | n, decode.utf8}
                  % else:
                    ## Translators: 'Open edX' is a registered trademark, please keep this untranslated. See http://open.edx.org for more information.
                    <h1>${_("Welcome to Microsoft Learning!")}</h1>
                    ## Translators: 'Open edX' is a registered trademark, please keep this untranslated. See http://open.edx.org for more information.
                    <h2>${_("Learn. Engage. Achieve.")}</h2>
                  % endif
                </div>

                % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'):
                  <div class="course-search">
                    <form method="get" action="/courses">
                      <label><span class="sr">${_("Search for a course")}</span>
                        <input class="search-input" name="search_query" type="text" placeholder="${_("Search for a course")}"></input>
                      </label>
                      <button class="search-button" type="submit">
                        <span class="icon fa fa-search" aria-hidden="true"></span><span class="sr">${_("Search")}</span>
                      </button>
                    </form>
                  </div>
                % endif

              </div>
                % if show_homepage_promo_video:
                  <a href="#video-modal" class="media" rel="leanModal">
                    <div class="hero">
                      <div class="play-intro"></div>
                    </div>
                  </a>
                % endif
              </div>
            </div>
            -->

        </header>

        % if notice_list:

        <link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.css" rel="stylesheet"/>
        <link href="/static/my-theme/css/lms-custom.css" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {

                $(".notice_list li").fadeIn("fast");

                // 분류 div mouseenter 이벤트
                $(".section_list_inner>div").each(function () {
                    $(this).mouseenter(function () {
                        let hover_src = $(this).find("img").data("hover");
                        $(this).find("img").prop("src", hover_src);
                    });

                    $(this).mouseleave(function () {
                        let base_src = $(this).find("img").data("base");
                        $(this).find("img").prop("src", base_src);
                    });
                });

                let notice_slider = $('.bxslider').bxSlider({
                    auto: true,
                    speed: 1000,
                    pause: 3000,
                    mode: 'vertical', // 'fade', 'horizontal', 'vertical'
                    autoControls: false,
                    pager: false,
                    autoHover: true,
                    controls: true,
                    easing: 'ease-in-out',
                    touchEnabled: false,
                });

                //이전 버튼을 클릭하면 이전 슬라이드로 전환
                $('.prev-slide').on('click', function () {
                    notice_slider.goToPrevSlide();  //이전 슬라이드 배너로 이동
                    return false;              //<a>에 링크 차단
                });

                //다음 버튼을 클릭하면 다음 슬라이드로 전환
                $('.next-slide').on('click', function () {
                    notice_slider.goToNextSlide();  //다음 슬라이드 배너로 이동
                    return false;
                });


            });

            function move_to_section(section_id) {
                var offset = $("#" + section_id).offset();

                if (offset) {
                    $("html, body").stop().animate({scrollTop: offset.top - 5}, 500, 'easeInOutExpo');
                }

            }

        </script>

        <div class="section_list">
            <div class="section_list_inner">
                % for section in sections:
                <div>
                    <a href="javascript:move_to_section('section_${section.id}')">
                        <div class="section_image">
                            <img
                                    src="${section.section_logo_large.url}"
                                    data-base="${section.section_logo_large.url}"
                                    data-hover="${section.section_logo_large_hover.url}"
                                    onerror="this.src='/static/my-theme/images/no_image.png'"
                            />
                        </div>
                        <div class="section_text">
                            ${section}
                        </div>
                    </a>
                </div>
                % endfor
            </div>
        </div>

        <div class="notice_list">
            <div class="notice_list_inner">
                <ul class="bxslider">
                    % for notice in notice_list:
                    <li style="display: none;">
                        <a href="/notice_detail?noticeId=${notice.id}">${notice.title}</a>
                    </li>
                    % endfor
                </ul>
            </div>
        </div>

        % endif

        <%include file="${courses_list}" />

    </section>
</main>

% if show_homepage_promo_video:
<section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
        <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
</section>
% endif

<%block name="js_extra">
<script type="text/javascript">
    $(window).load(function () {
        if (getParameterByName('next')) {
            $('#login').trigger("click");
        }
    })
</script>
</%block>

% if show_signup_immediately is not UNDEFINED:
## NOTE: This won't work in production, because anonymous views are cached, so it will
## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
    $(window).load(function () {
        $('#signup_action').trigger("click");
    });
</script>
% endif
